{{ define "main" }}
<article>
  <header>
    {{ if not .Date.IsZero }}
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
    {{ end }}
    <h1>{{ .Title }}</h1>
  </header>
  {{- $align := index .Params "ink-align" -}}
  {{- $font := index .Params "ink-font" -}}
  {{- if eq $font "default" }}{{ $font = "" }}{{ end -}}
  <div{{ with $align }}{{ if ne . "left" }} class="align-{{ . }}"{{ end }}{{ end }}{{ with $font }} style="{{ printf "font-family: '%s', Georgia, serif" . | safeCSS }}"{{ end }}>
    {{ .Content }}
  </div>
</article>
{{ if eq .Section "posts" }}
<section class="comments">
  <div id="cusdis_thread"
    data-host="https://cusdis.com"
    data-app-id="ab81b1b7-f9ee-4df9-80bd-9df60bb1abc1"
    data-page-id="{{ .RelPermalink }}"
    data-page-url="{{ .Permalink }}"
    data-page-title="{{ .Title }}"
    data-theme="auto"
  ></div>
  <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
</section>
{{ end }}
{{ end }}
